In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as mlt

In [9]:
df=pd.read_csv('australian.dat')

In [10]:
df=pd.DataFrame(df)

In [12]:
df.head()

  1 22.08 11.46 2 4 4 1.585 0 0 0 1 2 100 1213 0
0        0 22.67 7 2 8 4 0.165 0 0 0 0 2 160 1 0
1      0 29.58 1.75 1 4 4 1.25 0 0 0 1 2 280 1 0
2          0 21.67 11.5 1 5 3 0 1 1 11 1 2 0 1 1
3    1 20.17 8.17 2 6 4 1.96 1 1 14 0 2 60 159 1
4      0 15.83 0.585 2 8 8 1.5 1 1 2 0 2 100 1 1