In [29]:
import scipy.stats as stats

In [36]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [31]:
dataset=sns.load_dataset('tips')

In [32]:
dataset.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

## T Test

A t-test is a type of inferential statistic which is used to determine if there is a significant difference between the means of two groups which may be related in certain features

T-test has 2 types : 1. one sampled t-test 2. two-sampled t-test.

##  One-sample T-test with Python

The test will tell us whether means of the sample and the population are different

In [54]:
ages=[10,20,35,50,28,40,55,18,16,55,30,25,43,18,30,28,14,24,16,17,32,35,26,27,65,18,43,23,21,20,19,70]
len(ages)

32

In [55]:
ages_mean=np.mean(ages)
ages_mean

np.float64(30.34375)

In [62]:
## Lets take sample

sample_size=10
age_sample=np.random.choice(ages,sample_size)
age_sample

array([35, 43, 70, 28, 70, 18, 30, 24, 14, 55])

In [63]:
from scipy.stats import ttest_1samp

ttest, p_value = ttest_1samp(age_sample,30)

In [64]:
print(p_value)

0.20799135664298454

In [65]:
if p_value < 0.05:    # alpha value is 0.05 or 5%
    print(" we are rejecting null hypothesis")
else:
    print("we are accepting null hypothesis")

we are accepting null hypothesis

In [33]:
from statsmodels.stats.weightstats import ztest as ztest 
data = np.array(dataset['total_bill'])
data.astype(int)

array([16, 10, 21, 23, 24, 25,  8, 26, 15, 14, 10, 35, 15, 18, 14, 21, 10,
       16, 16, 20, 17, 20, 15, 39, 19, 17, 13, 12, 21, 19,  9, 18, 15, 20,
       17, 24, 16, 16, 18, 31, 16, 17, 13,  9, 30, 18, 22, 32, 28, 18, 12,
       10, 34,  9, 25, 19, 38, 26, 11, 48, 20, 13, 11, 18, 17, 20, 16,  3,
       20, 15, 12, 17, 26, 25, 14, 10, 17, 27, 22, 17, 19, 16, 10, 32, 15,
       34, 13, 18, 24, 21, 28, 22,  5, 16, 22, 40, 27, 12, 21, 12, 11, 15,
       44, 22, 20, 15, 20, 25, 18, 14, 14,  7, 38, 23, 25, 17, 29, 10, 12,
       24, 11, 13, 14, 15, 12, 29,  8, 14, 11, 22, 19, 20, 11, 12, 18,  8,
       10, 14, 16, 13, 17, 34, 41, 27, 16,  8, 18, 11,  9,  7, 14, 13, 17,
       24, 19, 29, 48, 25, 13, 16, 21, 12, 16, 13, 17, 24, 20, 31, 10, 10,
       50, 15,  7, 31, 16, 32, 17, 14,  9, 34, 34, 23, 45, 23, 40, 20, 20,
       30, 18, 23, 15, 19, 28, 15, 16,  7, 10, 43, 13, 13, 18, 12, 13, 16,
       20, 16, 26, 38, 24, 12, 30, 25, 48, 13, 28, 12, 28, 11,  7, 30, 12,
       13,  8, 15, 13, 16, 10, 20, 13, 22, 24, 15, 11, 10, 15, 10, 12, 32,
       35, 29, 27, 22, 17, 18])

In [34]:
ztest(data, value=40)

(np.float64(-35.4683283313405), np.float64(1.513641647851089e-275))

In [41]:
dataset_table=pd.crosstab(dataset['sex'],dataset['smoker'])
print(dataset_table)

smoker  Yes  No
sex
Male     60  97
Female   33  54

In [42]:
dataset_table.values

array([[60, 97],
       [33, 54]])

In [43]:
#Observed Values
Observed_Values = dataset_table.values 
print("Observed Values :-\n",Observed_Values)

Observed Values :-
 [[60 97]
 [33 54]]

In [44]:
val=stats.chi2_contingency(dataset_table)

In [45]:
val

Chi2ContingencyResult(statistic=np.float64(0.0), pvalue=np.float64(1.0), dof=1, expected_freq=array([[59.84016393, 97.15983607],
       [33.15983607, 53.84016393]]))

In [46]:
Expected_Values=val[3]

In [48]:
no_of_rows=len(dataset_table.iloc[0:2,0])
no_of_columns=len(dataset_table.iloc[0,0:2])
ddof=(no_of_rows-1)*(no_of_columns-1)
print("Degree of Freedom:-",ddof)
alpha = 0.05

Degree of Freedom:- 1

In [49]:
from scipy.stats import chi2
chi_square=sum([(o-e)**2./e for o,e in zip(Observed_Values,Expected_Values)])
chi_square_statistic=chi_square[0]+chi_square[1]

In [50]:
print("chi-square statistic:-",chi_square_statistic)

chi-square statistic:- 0.001934818536627623

In [51]:
critical_value=chi2.ppf(q=1-alpha,df=ddof)
print('critical_value:',critical_value)

critical_value: 3.841458820694124

In [52]:
#p-value
p_value=1-chi2.cdf(x=chi_square_statistic,df=ddof)
print('p-value:',p_value)
print('Significance level: ',alpha)
print('Degree of Freedom: ',ddof)
print('p-value:',p_value)

p-value: 0.964915107315732
Significance level:  0.05
Degree of Freedom:  1
p-value: 0.964915107315732

In [53]:
if chi_square_statistic>=critical_value:
    print("Reject H0,There is a relationship between 2 categorical variables")
else:
    print("Retain H0,There is no relationship between 2 categorical variables")
    
if p_value<=alpha:
    print("Reject H0,There is a relationship between 2 categorical variables")
else:
    print("Retain H0,There is no relationship between 2 categorical variables")

Retain H0,There is no relationship between 2 categorical variables
Retain H0,There is no relationship between 2 categorical variables